# Python build artifacts
dist/
build/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
